 
.gray{

}
body{

padding:0; margin:0 auto; font-size:12px; color:#000000; font-family:"宋体",Arial, Helvetica, sans-serif; background-color:#eeeeee; overflow-x:hidden;}
a,a:link{ color:#000000; text-decoration:none; cursor:pointer;}
a:hover{ color:#000000; text-decoration:none;}


img{ border:none;}
input{ font-size:12px;}
ul,dl,li,dt,dd{ margin:0; padding:0; list-style:none; list-style-type:none;}
h1,h2,h3,h4,h5,p{ font-weight:normal; font-style:normal; margin:0; padding:0;}
em,form{ margin:0; padding:0;}
.clear{ clear:both; height:0px; font-size:0;}
.clear10{ clear:both; height:10px; font-size:0;}
.clear30{ clear:both; height:30px; font-size:0;}
.f_r{ float:right;}

.topBg/*顶栏红蓝背景*/{ width:100%; height:107px; background-image:url(../img/topBg.gif); background-repeat:repeat-x;}

.w1018/**/{ width:1018px; margin:auto;}
.logo/*左边的LOGO*/{ float:left; width:317px;}
.w701/*右边的内容*/{ float:left; width:701px;}
.topsearch/*顶栏搜索*/{ height:72px;}


.ssBg{ width:116px; height:19px; line-height:19px; background:#ffffff; border-left:1px solid #576878; border-top:1px solid #576878; border-bottom:1px solid #576878; border-right:0px; float:left ;text-indent:5px; color:#7b7b7b; outline-style:none; outline-width:medium;}
.ssMenu{ width:26px; height:23px; float:left; background-image:url(../img/ss.jpg); border:0; cursor:pointer;}


.sinaweibo/*新浪微博*/{ width:30px; height:30px; background-image:url(../img/w1.gif); float:left;margin:0 20px 0 20px;}
a:hover .sinaweibo{ background-image:url(../img/w2.gif); width:30px; height:30px;}

.qqweibo/*腾讯微博*/{ width:30px; height:30px; background-image:url(../img/w5.gif); float:left; margin:0 20px 0 20px; }
a:hover .qqweibo{ background-image:url(../img/w6.gif); width:30px; height:30px;}

.weixin/*微信*/{ width:30px; height:30px; background-image:url(../img/w3.gif); float:left;}
a:hover .weixin{ background-image:url(../img/w4.gif); width:30px; height:30px;}



.header/*导航栏*/{ margin-left:5px; height:35px;}
.header .menu {z-index:500; font-size:16px;}
.header .menu ul.menu-list {float:left;}
.header .menu ul.menu-list li { position:relative; z-index:500; float:left; margin:0; width:85px; height:35px; line-height:35px; text-align:center;}
.header .menu ul.menu-list li a {display: block; _display:inline-block; _width:100%; height:35px; color:#ffffff;}
.header .menu ul.menu-list li a span { display: block;_display: inline-block;padding:0 2px 0 0;_width: 100%;cursor: pointer;}
.header .menu ul.menu-list li.current {background:#264a6c;}
.header .menu ul.menu-list li.current a { color:#fff; background:#264a6c;}
.header .menu ul.menu-list li.current a span {background:#264a6c;}
.header .menu ul.menu-list li a.hover, 
.header .menu ul.menu-list li a:hover {color:#fff; white-space: nowrap;}
.header .menu ul.menu-list li a.hover span, 
.header .menu ul.menu-list li a:hover span {background:#264a6c;}
.header .menu ul.menu-list li ul.menu-sublist {display:none; position:absolute; top:35px; left:0; z-index:60; padding:5px 0 10px 0; width:170px; background:#264a6c;}
.header .menu ul.menu-list li.menu-list-bbs ul.menu-sublist { width:170px;}
.header .menu ul.menu-list li ul.menu-sublist li { float:left; width:85px; height:30px; line-height:30px; text-align:left; background:none;}

.header .menu ul.menu-list li.menu-list-company ul.menu-sublist li { text-align: right;}
.header .menu ul.menu-list li ul.menu-sublist li.menu-sublist-li1 { border-top: 0;}
.header .menu ul.menu-list li ul.menu-sublist li a { padding:0; width:77px; height:30px; color:#fff; font-size:12px; font-weight:normal; background:none; padding-left:8px;}

.header .menu ul.menu-list li.menu-list-company.hover ul.menu-sublist li a, 
.header .menu ul.menu-list li.menu-list-company ul.menu-sublist li a { padding:0; width:85px; float:left;}
.header .menu ul.menu-list li ul.menu-sublist li a:hover { font-weight: normal; background: #264a6c;}


.indexCon{ margin:auto;}
.focusPic{ width:100%; position:absolute; z-index:10;}

.grayBg/*灰色渐变*/{ height:372px; width:100%; background-size:cover; overflow:hidden; position:absolute; z-index:20;}

.main/*首页中间内容*/{ width:1018px; position:relative; z-index:100; margin-top:328px;}

.area1/*学校要闻，学院简讯*/{ width:394px; height:274px; border:1px solid #b6b6b6; background:#fdfdfd; margin-right:8px; margin-bottom:7px; float:left;}
.area2/*图片新闻*/{ width:300px; height:274px; border:1px solid #b6b6b6; background:#fdfdfd; float:left; margin-bottom:7px;}
.area3/*通知公告，学术动态*/{ width:302px; height:274px; border:1px solid #b6b6b6; background:#fdfdfd; float:right; margin-bottom:7px;}

.area4/*快速通道的12个灰色按钮*/{ width:394px; height:137px; border:1px solid #b6b6b6; background:#fdfdfd; margin-right:8px; float:left; overflow:hidden;}
.area5/*专题网站，视频新闻*/{ width:300px; height:137px; border:1px solid #b6b6b6; background:#fdfdfd; float:left; overflow:hidden;}
.area6/*登录*/{ width:302px; height:137px; border:1px solid #b6b6b6; background:#fdfdfd; float:right; overflow:hidden;}

.QHmore{ height:29px; line-height:29px; width:74px; float:right; text-align:center; background:#dadada; margin-top:1px; padding-top:4px; font-family:"微软雅黑","宋体"}

.changeMenu1/*学校要闻，学院简讯的切换按钮*/{ height:29px; width:320px; float:left; background:#dadada; margin-top:1px; padding-top:4px;}
.changeMenu1 ul{ margin-left:8px;}
.changeMenu1 ul li{ float:left;}
.changeMenu1 ul li.curr{ width:81px; border:0px; background-image: url(../img/titleA.gif);}
.changeMenu1 ul li.curr a{ color:#ffffff; line-height:29px; font-size:14px; padding-left:13px;}
.changeMenu1 ul li.normaltab{ width:76px; height:29px; border:0px; background-image:url(../img/titleD.gif); display:block;}
.changeMenu1 ul li.currred{ width:81px; height:29px; border:0px; background-image: url(../img/titleC.gif);}
.changeMenu1 ul li.currred a{ color:#ffffff; font-size:14px; padding-left:13px; padding-top:6px; height:23px; display:block;}

.changeMenu1 ul li.normalredtab{ width:76px; height:29px; border:0px; background-image:url(../img/titleB.gif); display:block;}
.changeMenu1 ul li.normaltab a{ color:#ffffff; font-size:14px; padding-left:10px; padding-top:7px; height:22px; display:block;}
.changeMenu1 ul li.normalredtab a{ color:#ffffff; font-size:14px; padding-left:10px; padding-top:7px; height:22px; display:block;}

.dis{display:block; margin:0px; padding:0;}
.undis{display:none; margin:0px; padding:0;}
.change_con1/*红色*/{ padding-left:10px; padding-right:15px; padding-top:9px;}
.change_con1 ul{}
.change_con1 ul li{ background:url(../img/icon1.gif) no-repeat 1px 13px; text-indent:15px; line-height:32px; height:32px; width:100%;}
.change_con1 ul li a{}
.change_con1 ul li a:hover{ color:#8c1616; text-decoration:underline;}
.change_con1 ul li em{ float:right; font-weight:normal; font-style:normal;}

#player/*图片新闻*/ { width:286px; height:265px; overflow:hidden; margin:12px auto 0 auto;}
#player a{ color:#ffffff;}
#player *{ border:0; padding:0; margin:0;}
#player .Limg{ position:relative;}
#player .Limg li{ position:absolute; top:0; left:0; overflow:hidden; width:286px;}
#player .Limg li img{ margin:0;width:286px; height:224px;}
#player .Limg li p{ line-height:25px; font-size:14px; text-align:center; background:#aeaeae; margin-top:4px; color:#FFF;}
#player .Nubbt{ position:absolute; z-index:9;top:209px; line-height:25px; margin-left:180px; filter:alpha(opacity:60);opacity:0.6;}
#player .Nubbt span{ background:#000000; padding:1px 5px; margin:0 2px; font-style:normal; cursor:pointer; color:#fff;}
#player .Nubbt span.on{ background:#df0000; color:#fff;}

.changeMenu2/*通知公告，学术动态的切换按钮*/{ height:29px; width:228px; float:left; background:#dadada; margin-top:1px; padding-top:4px;}
.changeMenu2 ul{ margin-left:8px;}
.changeMenu2 ul li{ float:left;}
.changeMenu2 ul li.curr{ width:81px; border:0px; background-image: url(../img/titleA.gif);}
.changeMenu2 ul li.curr a{ color:#ffffff; line-height:29px; font-size:14px; padding-left:13px;}
.changeMenu2 ul li.normaltab{ width:76px; height:29px; border:0px; background-image:url(../img/titleD.gif); display:block;}
.changeMenu2 ul li.currred{ width:81px; height:29px; border:0px; background-image: url(../img/titleC.gif);}
.changeMenu2 ul li.currred a{ color:#ffffff; font-size:14px; padding-left:13px; padding-top:6px; height:23px; display:block;}

.changeMenu2 ul li.normalredtab{ width:76px; height:29px; border:0px; background-image:url(../img/titleB.gif); display:block;}
.changeMenu2 ul li.normaltab a{ color:#ffffff; font-size:14px; padding-left:10px; padding-top:7px; height:22px; display:block;}
.changeMenu2 ul li.normalredtab a{ color:#ffffff; font-size:14px; padding-left:10px; padding-top:7px; height:22px; display:block;}



.change_con2/*蓝色*/{ padding-left:10px; padding-right:15px; padding-top:9px;}
.change_con2 ul{}
.change_con2 ul li{ background:url(../img/icon1.gif) no-repeat 1px 13px; text-indent:15px; line-height:32px; height:32px; width:100%;}
.change_con2 ul li a{}
.change_con2 ul li a:hover{ color:#274b6d; text-decoration:underline;}
.change_con2 ul li em{ float:right; font-weight:normal; font-style:normal;}


.kstd/*快速通道的12个灰色按钮*/{ padding-top:10px; margin:auto; width:376px;}
.kstd ul{}
.kstd ul li{ width:82px; height:25px; text-align:center; background:#dadada; float:left; margin:8px 5px 5px 7px; overflow:hidden; display:inline;} 
.kstd ul li a{ display:block; line-height:25px;}
.kstd ul li a:hover{ text-decoration:underline; display:block; background:#ffffff;}


.ztlj/*专题链接*/{ padding-top:5px;}
.ztlj ul{}
.ztlj ul li{ margin-left:5px; float:left; height:128px; display:inline;}
.ztljImg{ width:139px; height:98px; padding:1px; background:#ffffff; border:1px solid #ebebeb; overflow:hidden; margin-bottom:4px;}
.ztlj ul li p{ width:143px; height:22px; line-height:22px; text-align:center; background:#a7a7a7;}
.ztlj ul li a{ color:#ffffff;}


.loginbox/*登录框*/{ width:141px; height:21px; border:1px solid #d5d5d5; background:#ffffff; outline-style:none; outline-width:medium;}
.xlk/*下拉框*/{ height:21px; border:1px solid #d5d5d5; background:#ffffff;}
.xtrk{ color:#000000;}
.xtrk a:hover{ text-decoration:underline;}

.zhuceMenu/*注册*/{ width:49px; height:23px; background-image:url(../img/zhuce.jpg);}
a:hover .zhuceMenu{ background-image:url(../img/zhuce2.jpg); width:49px; height:23px;}
.dengluMenu/*登录*/{ width:49px; height:23px; background-image:url(../img/denglu.jpg); cursor:pointer; border:0; overflow:hidden;}
a:hover .dengluMenu{ background-image:url(../img/denglu2.jpg); width:49px; height:23px;}
.dengluMenu2/*登录*/{ width:49px; height:23px; background-image:url(../img/denglu2.jpg); cursor:pointer; border:0;}


/*底部*/
.footBg{ width:100%; height:150px; padding-top:14px; background-color:#032f54; color:#ffffff;}
.footleft{ float:left; margin-left:16px; line-height:24px; width:290px;}
.footleft a{ float:left; color:#ffffff; margin-right:15px;}
.footright{ float:left; width:440px; line-height:24px; text-align:center;}
.footright a{ color:#ffffff;}
.footcenter{text-align:center;}


/*--------------------新闻栏目CSS--------------------*/
.xwlmCon{ width:100%; background-color:#e8e8e8;}
.line1{ background:#a3b0bb; margin-top:2px; margin-bottom:15px; width:100%; height:7px;}
.w1002{ width:1002px; margin:auto;}


.tpbh{ margin:auto; overflow:hidden;}
.tpbh img{ height:190px;}

.w186/*左栏*/{ width:184px; float:left; border:1px solid #b5b5b5; margin-right:14px; padding-bottom:20px; background:#f6f6f6;}
.leftlmBG{ width:100%; height:29px; margin-top:1px; background:#dadada; padding-top:12px;}
.leftlmtitle{ width:90px; height:29px; line-height:29px; color:#ffffff; background:#244b6c; margin-left:8px; text-align:center; font-size:16px;}
.leftstep{ margin:16px 19px;}
.leftstep ul{}
.leftstep ul li{ background-image:url(../img/leftstep1.gif); width:100%; height:38px; line-height:38px; text-align:center; display:block;}
.leftstep ul li a{ display:block; height:38px;}
.leftstep ul li a:hover{ display:block; background-image:url(../img/leftstep2.gif); width:100%; height:38px; line-height:38px; text-align:center;}
.stepBghover/*鼠标划多变成灰色背景*/{ background-image:url(../img/leftstep2.gif); width:100%; height:38px; line-height:38px; text-align:center;}

.w122/*左栏组织机构烟大文化*/{ width:122px; margin:auto;}
.w122 ul{}
.w122 ul li{ height:29px; line-height:29px; background:#244b6c; margin-top:3px;}
.w122 ul li a{ display:block; color:#ffffff; text-align:center;}

.bluecolor{ background-image:url(../img/leftstep2.gif); width:122px; height:26px; line-height:26px; display:block;}

.w802/*右栏*/{ float:left; width:800px; border:1px solid #bfbfbf;}
.website{ height:38px; line-height:38px; font-size:14px; border-top:4px solid #032f54; background:#dadada;}
.website span{ padding-left:18px;}

.xwdt{ padding:10px 0 10px 0; font-size:14px;}
.xwdtImg{ float:left; width:157px; height:103px; overflow:hidden; border:1px solid #dbdbdb; padding:3px;}
.xwdtImg img{ width:157px; height:103px;}
.xwdtOne{ float:right; width:575px;}
.xwdtOne h1{ font-size:14px; font-weight:600; margin-bottom:8px; margin-top:5px;}
.xwdtOne p{ line-height:24px; color:#4e4e4e;}

.xwdt ul{ border-top:1px dashed #000000; padding-top:20px;}
.xwdt ul li{ line-height:32px; font-size:14px;}
.xwdt ul li em{ float:right; padding-right:8px; font-weight:normal; font-style:normal;}

.pagesite/*分页码*/{ text-align:center; line-height:30px;}



.jgszLine/*组织机构*/{ border-bottom:2px solid #244b6c; background:#fdfdfd; width:100%; height:29px;}
.jgszTitleBg{ background:#244b6c; width:122px; height:29px; line-height:29px; text-align:center; color:#ffffff;}

.jgszCon{}
.jgszCon ul{ margin:15px 0;}
.jgszCon ul li{ width:175px; height:26px; line-height:26px; float:left; margin-right:10px; display:block; margin:5px 10px 5px 0;}
.jgszCon ul li a{ color:#244b6c; display:block; text-indent:5px; font-weight:bold;}
.jgszCon ul li a:hover{ color:#244b6c; background:#e4e8ec;}

.xyfj/*校园风景*/{}
.xyfj ul{}
.xyfj ul li{ float:left; width:150px; margin-right:30px; margin-left:10px; margin-bottom:15px;}
.xyfj ul li p{ text-align:center; height:24px; line-height:24px;}

.ggfwCon/*公共服务*/{}
.ggfwCon ul{ margin:15px 0;}
.ggfwCon ul li{ width:220px; height:26px; line-height:26px; float:left; margin-right:10px; display:block; margin:5px 10px 5px 0;}
.ggfwCon ul li a{ color:#244b6c; display:block; text-indent:5px; font-weight:bold;}
.ggfwCon ul li a:hover{ color:#244b6c; background:#e4e8ec;}

.xyszCon/*学院设置*/{}
.xyszCon ul{ margin:15px 0;}
.xyszCon ul li{ width:178px; height:26px; line-height:26px; float:left; margin-right:10px; display:block; margin:5px 10px 5px 0;}
.xyszCon ul li a{ color:#244b6c; display:block; text-indent:5px; font-weight:bold;}
.xyszCon ul li a:hover{ color:#244b6c; background:#e4e8ec;}


/*--------------------新闻内容页CSS--------------------*/
.newsTex/*内容标题*/{ width:100%; margin:auto;}
.newsTex h1{ font-size:18px; text-align:center; line-height:30px; font-weight:600;}
.newsTex h2/*红头文件*/{ text-align:center; border-bottom:2px solid #F00; padding-bottom:40px; padding-top:20px;}
.newsTex h3{ font-size:22px; text-align:center; line-height:30px; font-weight:600;}

.msgbar/*发布时间*/{ line-height:30px; text-align:center; color:#6c6c6c; font-size:12px; margin-bottom:10px;}
.newsCon{ width:100%; line-height:24px; font-size:14px;}
.fujian,.fujian a,.djxq,.djxq a/*附件*/{ color:#000;}
.fujian a:hover,.djxq a:hover{ color:#F00; text-decoration:underline;}



/*--------------------搜索CSS--------------------*/
.w1000/**/{ float:left; width:1000px; border:1px solid #bfbfbf;}
.sousuoCon{ width:97%; margin:auto; line-height:24px;}
dl.sslist{border-bottom:1px dashed #ccc; line-height:1.8em; padding:10px 0 10px;}
dl.sslist dt{height:30px;}
dl.sslist dt span a,dl.list3 dt span a:visited/*深蓝色*/{font-size:14px; color:#264a6c;}
dl.sslist dt a,dl.list3 dt a:visited/*暗红色*/{font-size:14px; color:#8c1616;}
dl.sslist dt a:hover{font-size:14px; color:#000000;}
dl.sslist dd/*发布时间*/{color:#6c6c6c;}
dl.sslist dd.zy{height:50px; text-indent:2em; color:#4e4e4e; overflow:hidden;}
